{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    {{ if $Page.Params.categories }}
    <header class="article-category">
        {{ range ($Page.GetTerms "categories") }}
            {{ $color := partial "helper/color-from-str" .LinkTitle }}
            {{ $BackgroundColor := default $color.BackgroundColor .Params.style.background }}
            {{ $TextColor := default $color.TextColor .Params.style.color }}
            <a href="{{ .RelPermalink }}" style="background-color: {{ $BackgroundColor | safeCSS }}; color: {{ $TextColor | safeCSS }};">
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>

        {{ with $Page.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := $Page.Params.readingTime | default ($Page.Site.Params.article.readingTime) }}
    {{ $showDate := not $Page.Date.IsZero }}
    {{ $showTime := or $showDate $showReadingTime }}
    {{ $showTranslations := $Page.IsTranslated }}
    {{ $showTags := and $Page.Site.Params.Article.List.ShowTags ($Page.GetTerms "tags") $IsList }}

    {{ if or $showTime $showTranslations $showTags }}
    <footer class="article-meta">
        {{ if $showTime }}
            <div class="inline-meta">
                {{ if $showDate }}
                    {{ partial "helper/icon" "date" }}
                    <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                        {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
                    </time>
                {{ end }}

                {{ if $showReadingTime }}
                    {{ partial "helper/icon" "clock" }}
                    <time class="article-time--reading">
                        {{ T "article.readingTime" $Page.ReadingTime }}
                    </time>
                {{ end }}
            </div>
        {{ end }}

        {{ if not $IsList }}
        <div class="inline-meta">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="12" cy="12" r="2" />
                <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
            <span id="busuanzi_container_page_pv" style="display:none;">
                <span id="busuanzi_value_page_pv"></span> 次阅读
            </span>
        </div>
        {{ end }}

        {{ if $showTranslations }}
            <div class="inline-meta">
                {{ partial "helper/icon" "language" }}
                {{ range $Page.Translations }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        {{ end }}

        {{ if $showTags }}
            <div class="article-tags inline-meta">
                {{ partial "helper/icon" "tag" }}
                {{ range ($Page.GetTerms "tags") }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .LinkTitle }}</a>
                {{ end }}
            </div>
        {{ end }}
    </footer>
    {{ end }}
</div>
